// app global css in SCSS form
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
