// app global css in SCSS form
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

.text-neutral {
  color: #CBCBCB !important;
}

.bg-neutral {
  background: #CBCBCB !important;
  color: black !important;
}
.text-herbal {
  color: #7CB13A !important;
}
.bg-herbal {
  background: #7CB13A !important;
  color: white !important;
}
.text-lilac {
  color: #b67dff !important;
}
.bg-lilac {
  background: #b67dff !important;
  color: white !important;
}
